// main styling
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  background-color: $light-color;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: set-text-color($primary-color);
}

img {
  width: 100%;
}
